body
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;

    margin: 0;
    padding: 0;

    color: #000;
    background-color: #fff;
}

a
{
    text-decoration: none;
}

.default-list
{
    list-style: none;
}

.btn
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #ee3643;
}

.btn:hover
{
    background-color: #ca2c37;
}

.btn:active
{
    background-color: #ba2732;
}

.item-latest
{
    background-image: url('../img/latest.png');
}

.main-header
{
    background-color: #f3f7f9;
}

.main-header .main-header-top
{
    background-color: #293449;
}

.main-header-top a
{
    font: inherit;

    color: #fff;
}

.main-header-top .main-header-logo
{
    font-size: 24px;
    line-height: 24px;

    background-color: #ee3643;
}

.main-header-top .main-header-logo:hover
{
    background-color: #ca2c37;
}

.main-header-top .main-header-logo:active
{
    background-color: #ba2732;
}

input[type='search']
{
    border: none;
    background-color: #293449;
}

input[type='search']:hover
{
    background-color: #212a3a;
}

.main-header-top .main-header-bookmarks:hover,
.main-header-top .main-header-basket-empty:hover
{
    background-color: #212a3a;
}

.main-header-top .main-header-bookmarks:active,
.main-header-top .main-header-basket-empty:active
{
    color: rgba(255, 255, 255, .6);
    background-color: #161d29;
}

.main-header-top .main-header-basket-not-empty
{
    background-color: #ee3643;
}



.main-header-top .main-header-basket-not-empty:active
{
    color: rgba(255, 255, 255, .6);
}

.main-header-top .main-header-сheckout
{
    background-color: #63a63e;
}

.main-header-top .main-header-сheckout:hover
{
    background-color: #5fbb2d;
}

.main-header-top .main-header-сheckout:active
{
    color: rgba(255, 255, 255, .6);
    background-color: #518534;
}

.main-header-middle h1
{
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 23px;

    color: #ee3643;
}

.main-header-contacts .main-header-contacts-tel
{
    font-size: 21px;
    line-height: 21px;

    color: #ee3643;
    border: 3px solid #fff;
}

.main-header-contacts .main-header-contacts-address
{
    font-size: 14px;
    line-height: 24px;

    color: #32425c;
}

.main-header-login-form a
{
    font-size: 21px;
    line-height: 21px;

    color: #000;
    background-color: #fff;
}

.main-header-login-form a:hover
{
    color: #ee3643;
}

.main-header-login-form a:active
{
    color: rgba(0, 0, 0, .3);
}

.user-authorization-info .user-name
{
    font-size: 21px;
    line-height: 21px;

    color: #000;
    background-color: #fff;
}

.user-authorization-links a
{
    font-size: 16px;
    line-height: 18px;

    text-decoration: underline;

    color: #32425c;
}

.user-authorization-links a:hover
{
    color: #ee3643;
}
.user-authorization-info .user-name:active,
.user-authorization-links a:active
{
    color: rgba(0, 0, 0, .3);
}

.main-header-bottom .main-navigation
{
    background-color: #32425c;
}

.main-navigation a
{
    font-size: 17px;
    line-height: 17px;

    color: #fff;
    background-color: #32425c;
}

.main-navigation a:hover
{
    background-color: #293449;
}

.main-navigation a:active
{
    color: rgba(255, 255, 255, .5);
    background-color: #1d2739;
}

.goods-and-services-item h3
{
    font-size: 24px;
    font-style: bold;
    line-height: 30px;

    color: #fff;
}

.goods-and-services-item a
{
    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;

    color: #fff;
    background-color: rgba(0, 0, 0, .1);
}

.goods-and-services-item a:hover
{
    background-color: rgba(0, 0, 0, .2);
}

.goods-and-services-item a:active
{
    background-color: rgba(0, 0, 0, .3);
}

.goods-and-services .fabric
{
    background-color: #ffbf47;
}

.goods-and-services .instrument
{
    background-color: #3bbce3;
}

.goods-and-services .equipment
{
    background-color: #dc91d8;
}

.goods-and-services .discounts
{
    background-color: #8ed78f;
}

.goods-and-services .delivery
{
    background-color: #ffc047;
}

.goods-and-services .slider
{
    background-color: #f4f8f9;
}

.slider .slide-title
{
    font-size: 36px;
    line-height: 36px;

    text-transform: uppercase;

    color: #fff;
}

.slider .slide-slogan
{
    font-size: 18px;
    line-height: 24px;

    color: #fff;
}

.slider .slider-item-drills
{
    background-color: #684c3e;
    background-image: url('../img/slider-item-1.jpg');
    background-repeat: no-repeat;
}

.slider .slider-item-punchers
{
    background-color: #917f6d;
    background-image: url('../img/slider-item-2.jpg');
    background-repeat: no-repeat;
}

.slider .slider-switch-previous
{
    background-image: url('../img/icon-left.svg');
}

.slider .slider-switch-next
{
    background-image: url('../img/icon-right.svg');
}

.popular-header
{
    background-color: #f9f5f0;
}

.popular-header-title
{
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;

    color: #32425c;
}

.goods-item
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;

    text-align: center;

    border: 1px solid #eaeaea;
}

.goods-item-title
{
    font-size: 18px;
    line-height: 20px;
}

.item-old-price
{
    font-size: 17px;
    line-height: 18px;

    color: #a9a9a9;
}

.item-price
{
    font-size: 17px;
    line-height: 18px;

    color: #fff;
    background-color: #ee3643;
}

.goods-purchase
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;

    text-transform: uppercase;
}

.buy-btn
{
    color: #fff;
    background-color: #63a63e;
}

.buy-btn:hover
{
    background-color: #5fbb2d;
}

.buy-btn:active
{
    background-color: #518534;
}

.to-bookmarks-btn
{
    color: #32425c;
    border: 3px solid #63a63e;
}

.to-bookmarks-btn:hover
{
    border: 3px solid #32425c;
}

.to-bookmarks-btn:active
{
    color: rgba(50, 66, 92, .3);
    border: 3px solid #cad3d7;
}

.service
{
    background-color: #f5f8fa;
}

.service-title,
.about-us-title
{
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;

    text-transform: uppercase;
}

.page-content
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
}

.service-item
{
    font-size: 21px;
    line-height: 30px;

    color: #fff;
    border-bottom: 1px solid #4e637c;
    background-color: #32425c;
}

.service-item:last-child
{
    border-bottom: none;
}

.service-item:hover
{
    color: #fff;
    background-color: #293449;
}

.service-description-title
{
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;

    text-transform: uppercase;

    color: #32425c;
}

.service-delivery-description
{
    background-image: url('../img/option-item-1.png');
    background-repeat: no-repeat;
}

.service-guarantee-description
{
    background-image: url('../img/option-item-2.png');
    background-repeat: no-repeat;
}

.service-credit-description
{
    background-image: url('../img/option-item-3.png');
    background-repeat: no-repeat;
}

.transport-companies-item
{
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

.main-footer-top
{
    background-color: #32425c;
}

.main-footer-logo
{
    font-size: 30px;
    line-height: 30px;

    text-transform: uppercase;

    color: #fff;
    background-color: #ee3643;
}

.footer-contacts-address
{
    font-size: 18px;
    line-height: 24px;

    color: #fff;
}

.footer-nav-item a
{
    font-size: 18px;
    line-height: 24px;

    color: #fff;
}

.secondary-nav-item a
{
    font-size: 18px;
    line-height: 24px;

    color: #ffd180;
}

.footer-nav-item a:hover,
.secondary-nav-item a:hover
{
    text-decoration: underline;
}

.footer-nav-item a:active,
.secondary-nav-item a:active
{
    text-decoration: none;

    opacity: .5;
}

.main-footer-bottom
{
    background-color: #293449;
}

.footer-copyright,
.footer-feedback,
.footer-developed
{
    font-size: 16px;
    line-height: 18px;

    color: #fff;
}

.footer-social a
{
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social a:hover,
.footer-social a:active
{
    background-color: #ee3643;
}

.footer-social-vk
{
    background-image: url('../img/icon-vk.svg');
}

.footer-social-fb
{
    background-image: url('../img/icon-fb.svg');
}

.footer-social-inst
{
    background-image: url('../img/icon-insta.svg');
}

.footer-feedback a, .footer-developed a {
  color: #ffd180;
}

.footer-feedback a:hover, .footer-developed a:hover {
  text-decoration: underline;
}

.footer-feedback a:active, .footer-developed a:active {
  color: #ee3643;
  text-decoration: none;
}

.feedback {
  border-top: 7px solid #ff5357;
  background-color: #ffffff;
font-size: 18px;
  line-height: 18px;
}

.feedback input,
.feedback textarea {
  border: 2px solid #dee3e4;
  background-color: #ffffff;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.feedback input:hover {
  border: 2px solid #b5b5b5;
}

.feedback input:focus, .feedback textarea:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.three-quarters-width {
  background-color: #f4f4f4;
}

.modal-close-btn {
background-color: transparent;
background-image: url('../img/icon-close.svg');
background-repeat: no-repeat;
}
